In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
DATA_PATH = "/content/drive/MyDrive/Project3_EcommerceAnalysis/data/raw/data.csv"

df = pd.read_csv(DATA_PATH, encoding="ISO-8859-1")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [6]:
df.shape

(37309, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37309 entries, 0 to 37308
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    37309 non-null  object
 1   StockCode    37309 non-null  object
 2   Description  37192 non-null  object
 3   Quantity     37309 non-null  int64
 4   InvoiceDate  37309 non-null  object
 5   UnitPrice    37308 non-null  float64
 6   CustomerID   24429 non-null  float64
 7   Country      37308 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 2.3+ MB

In [8]:
df.isnull().sum()

InvoiceNo          0
StockCode          0
Description      117
Quantity           0
InvoiceDate        0
UnitPrice          1
CustomerID     12880
Country            1
dtype: int64

In [9]:
df = df[~df["InvoiceNo"].astype(str).str.startswith("C")]

In [10]:
df = df.dropna(subset=["CustomerID"])

In [11]:
df = df[(df["Quantity"] > 0) & (df["UnitPrice"] > 0)]

In [12]:
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])

In [13]:
df["Revenue"] = df["Quantity"] * df["UnitPrice"]

In [14]:
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID,Revenue
count,23867.000000,23867,23867.000000,23867.000000,23867.000000
mean,11.628064,2010-12-09 00:12:56.875183104,3.118479,15547.120334,21.737365
min,1.000000,2010-12-01 08:26:00,0.070000,12347.000000,0.140000
25%,2.000000,2010-12-05 12:35:00,1.250000,14220.000000,3.950000
50%,4.000000,2010-12-08 13:07:00,2.100000,15574.000000,10.500000
75%,12.000000,2010-12-13 13:28:00,3.750000,17189.000000,19.800000
max,2880.000000,2010-12-17 17:23:00,295.000000,18269.000000,3828.000000
std,45.568272,NaN,5.162611,1734.133089,79.157947

In [15]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
Revenue        0
dtype: int64

In [16]:
OUTPUT_PATH = "/content/drive/MyDrive/Project3_EcommerceAnalysis/data/processed/ecommerce_cleaned.csv"

df.to_csv(OUTPUT_PATH, index=False)

print("Cleaned dataset saved successfully")

âœ… Cleaned dataset saved successfully